section.about {
    background-image: url(/static/media/heroes-bg.71ab9a1….png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 41rem;
    position: relative;
    width: 100%;
}