section.about {
    background-image: url(/static/tracks.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 41rem;
    position: relative;
    width: 100%;
}