@import "../style/utils/common.scss";
@import "../style/utils/gap.scss";

.tracks {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
  z-index: 0;
}

nav.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .logo {
    margin-top: pxToEm(31, 32);
    display: flex;
    flex-direction: row;
    align-items: center;
    .img {
      width: 91px;
      height: 97px;
      @media (max-width: 1023.9px) {
        width: 41.8px;
        height: 41.8px;
      }
    }
    h1.heading {
      color: var(--text-primary);
      font-size: 32px;
      margin-left: pxToEm(20, 32);
      font-weight: 700;
      line-height: 130%;
      text-align: center;
      @media (max-width: 1023.9px) {
        font-size: 16px;
      }
    }
  }
  .components {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
  }
  .signin {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    .button {
      border-radius: 5px;
      background: #184171;
      width: 150px;
      height: 49px;
      color: white;
    }
  }
}

section.hero {
  margin-top: 81px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .header{
    margin-left: 83px;
    h4 {
      font-size: 24px;
      font-weight: 600;
      line-height: normal;
    }
    h2 {
      margin-top: 21px;
      font-size: 40px;
      font-weight: 700;
      line-height: normal;
    }
    span {
      color:#184171;
    }
    p {
      margin-top: 21px;
      color: #626262;
    }
    .button {
      margin-top: 31px;
      font-weight: 600;
      border-radius: 5px;
      background: #184171;
      width: 150px;
      height: 49px;
      color: white;
    }
    .learn {
      margin-top: 31px;
      margin-left: 21px;
      font-weight: 600;
      border-radius: 5px;
      background: black;
      width: 150px;
      height: 49px;
      color: white;
    }
  }
  .image {
    margin-right: 83px;
  }
}

section.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .box {
    background-color: #626262;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 1238px;
    height: 600px;
    z-index: 1;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 55px;
      .image {
        
      } 
      .text {
        width: 419px;
        flex-direction: column;
        h4 {
          font-size: 24px;
          font-weight: 600;
          line-height: normal;
        }
        h2 {
          margin-top: 21px;
          font-size: 40px;
          font-weight: 700;
          line-height: normal;
        }
        p {
          margin-top: 21px;
          color: black;
        }
        .search {
          margin-top: 21px; 
          max-width: 380px;
          box-shadow: 0 0.222rem 1.222rem rgba(0,0,0,.15);
          border-radius: 2.222rem;
          input {
            border-radius: 5px;
            font-size: 14px;
            line-height: 120%;
            min-height: 10px;
            padding: 0.833rem 1.667rem;
            border-color: #C4C4C4;
            padding-right: 7.778rem;
          }
          button {
            font-weight: 600;
            background: #184171;
            width: auto;
            color: white;
            padding: 0.833rem 1.667rem;
            border-radius: 5px;
            min-height: 10px;
            position: absolute;
            line-height: 120%;
          }
        }
      }
    }
  }
}