section.testimonials {
    margin-top: 151px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f6f6;
    z-index: 10;
    .container {
      z-index: 2;
      h4 {
        margin-top: 51px;
        text-align: center;
        font-size: 24px;
        @media (max-width: 768px) {
          font-size: 16px;
        }
        font-weight: 600;
        line-height: normal;
        }
        .title {
          text-align: center;
          h2 {
          margin-top: 21px;
          font-size: 40px;
          @media (max-width: 768px) {
            font-size: 32px;
          }
          font-weight: 700;
          line-height: normal;
          }
          p {
            margin-top: 21px;
            @media (max-width: 768px) {
              font-size: 14px;
            }
            color: #626262;
          }
        }
        .cards {
          margin-top: 51px;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          @media (max-width: 768px) {
            flex-direction: column;
          }
          gap: 21px;
          .card {
            background-color: #C4C4C4;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            flex: 1;
            h3 {
              margin-top: 40px;
              color: black;
              font-weight: 500;
              font-size: 24px;
              @media (max-width: 768px) {
                font-size: 20px;
              }
              margin-left: 40px;
              margin-right: 40px;
              text-align: left;
            }
            .customer {
              margin-top: 40px;
              display: flex;
              flex-direction: row;
              img {
                // margin-top: 40px;
                width: 50px;
                height: 50px;
                margin-left: 40px;
                margin-right: 40px;
              }
              .text {
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
                h4 {
                  margin-top: 5px;
                  font-size: 16px;
                  @media (max-width: 768px) {
                    font-size: 14px;
                  }
                  font-weight: 500px;
                }
              }
            }
            margin-bottom: 51px;
          }
        }
      }
    }