html {
  // --gjw-primary-l: #ffae69;
  // --gjw-primary: #e68a3b;
  // --gjw-primary-d: #df771b;
  // --gjw-primary-t: #fff2e8;

  // --gjw-secondary-l: #aae2fa;
  // --gjw-secondary: #1a94ff;
  // --gjw-secondary-d: #005baf;

  --text-primary: black;
  --text-secondary: #5a5a65;
  --text-tertiary: #5a5a65;

  // --text-btn-v3: #545454;
  // --text-black: black;
  // --text-primary-v3: #2f2f2f;
  // --text-primary-c: #424242;
  // --text-secondary: #606060;
  // --text-secondary-v3: #595959;
  // --text-tertiary-v3: #737373;
  // --text-quaternary-v3: #8d8d8d;
  // --text-comment-v3: #2f2e35;
  // --text-btn-disabled-v3: #b1b1b1;
  // --text-menu-hover: #ffae69;
  // --text-gray: #636363;
  // --text-gray-v3: #5a5a65;
  // --text-btn-hover: #424242;
  // --text-btn-disabled: #9f9f9f;
  // --icon: #8d8d8d;
  // --text-menu-hover-v3: #ffd5b1;

  --background: white;
  --background-cyan: #f9fbff;
  // --background-v3: white;
  // --background-app: white;
  // --background-gray: #f7f7f7;
  // --background-gray-transparent: rgba(247, 247, 247, 0.5);
  // --background-popup: #ebeced;
  // --background-secondary: #ffffff;
  // --background-secondary-v2: #e8e8e8;
  // --background-secondary-v3: #ffffff;
  // --background-hover: rgba(0, 0, 0, 0.04);
  // --background-menu: #f5f5f5;
  // --background-menu-active: #727578;
  // --background-menu-bg-hover: #ffffff;
  // --background-create-playlist: #bfc4c8;
  // --background-btn: #f8f8f8;
  // --background-btn-hover: #c4c4c4;
  // --background-btn-disabled: #e1e2e3;
  // --background-post-info: #f6f6f6;
  // --background-comment-input: #f7f7f7;
  // --background-post-block: #ffffff;
  // --background-post-input: #f7f7f7;
  // --background-post-comment: #f7f7f7;
  // --topic-menu-active: #fbf0d8;
  // --topic-header-color: #ffcc00;
  // --menu-text-color: #717578;
  // --menu-text-color-v3: #727272;
  // --search-item-color: #f5f5f5;
  // --background-timeline: #f0f2f5;
  // --background-channel: #ffffff;
  // --tab-btn-color: #ffffff;
  // --tab-btn-color-hashtag: #fea42e;
  // --right-sidebar: #f5f5f5;
  // --left-sidebar: #f5f5f5;
  // --border: #eeeeee;
  // --border-gray: #b1b5b9;
  // --border-l: #ffce89;
  // --border-b-v3: #f5f5f5;
  // --border-post-block: #e4e4e4;
  // --error: #ff0000;
  // --error-v3: #feedee;
  // --warning: #ffcc00;
  // --info: #1a94ff;
  // --success: #ffae69;

  // --msg-succeed: #37a748;
  // --msg-succeed-light: #4bc65e80;
  // --msg-error: #ff0000;
  // --msg-error-light: #ff000032;
  // --msg-info: #ff9d00;
  // --msg-info-light: #ff9d0080;
}

html.dark {
  --text-primary: #ffffff;
  --text-secondary: #eee;
  --text-tertiary: #919eae;
  // --text-btn-v3: #ffffff;
  // --text-black: white;
  // --text-primary-v3: #ffffff;
  // --text-secondary: #dddddd;
  // --text-secondary-v3: #efefef;
  // --text-tertiary-v3: #afafaf;
  // --text-comment-v3: #ffffff;
  // --text-btn-disabled-v3: #707070;
  // --text-menu-hover: #ffffff;
  // --gjw-primary: #e68a3b;
  // --gjw-primary-l: #daeeff;
  // --gjw-primary-t: #92c8ff;
  // --text-primary-c: #002545;
  // --text-btn-hover: #ffffff;
  // --text-btn-disabled: #636363;
  // --gjw-primary-d: #0081ff;
  // --search-item-color: #0061b8;

  --background: #131234;
  --background-cyan: #131234;
  // --background-gray: #162441;
  // --background-gray-transparent: rgba(22, 36, 65, 0.5);
  // --background-v3: #081421;
  // --background-secondary-v2: #223867;
  // --background-secondary-v3: #001e3b;
  // --background-popup: #14202b;
  // --background-timeline: #00203e;
  // --background-channel: #00203e;
  // --background-post-info: #011e37;
  // --tab-btn-color: #fea42e;
  // --tab-btn-color-hashtag: #fea42e;
  // --background-app: #001426;
  // --background-secondary: #001d38;
  // --background-hover: rgba(255, 255, 255, 0.1);
  // --background-menu: #001426;
  // --background-menu-active: #004888;
  // --background-menu-bg-hover: #004888;
  // --background-create-playlist: #014886;
  // --background-btn: #131c25;
  // --background-btn-hover: #014886;
  // --background-btn-disabled: #4c5054;
  // --background-comment-input: transparent;
  // --background-post-block: #00203e;
  // --background-post-input: #002c55;
  // --background-post-comment: #002c55;
  // --topic-menu-active: #004888;
  // --topic-header-color: #ffcc00;
  // --border: #324878;
  // --border-l: #0081ff;
  // --border-b-v3: #6f6f6f;
  // --border-v3: #0d6dcd;
  // --border-secondary-v3: #003467;
  // --icon: #ccc;
  // --border-dark: #d9d9d9;
  // --menu-text-color: white;
  // --text-gray: #aaa;
  // --error: #ea4141;

  // --msg-error-light: #ff0000;
}
