section.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  @media (max-width: 500px) {
    margin-left: 21px;
    margin-right: 21px;
  }
  .container {
    margin-top: 151px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    z-index: 3;
    h4 {
      font-size: 24px;
      font-weight: 700;
      line-height: normal;
    }
    p {
      font-size: 14px;
      color: #626262;
    }
    .icons {
      display: flex;
      gap: 12px;
      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
        object-fit: contain;
      }
    }
  }
}