@import "../style/utils/common.scss";
@import "../style/utils/gap.scss";
@import '../index.css';

nav.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  .logo {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
    }
    // h1.heading {
    //   color: var(--text-primary);
    //   font-size: 32px;
    //   margin-left: pxToEm(20, 32);
    //   font-weight: 700;
    //   line-height: 130%;
    //   text-align: center;
    //   @media (max-width: 1023.9px) {
    //     font-size: 16px;
    //   }
    // }
  }
    .components {
      display: flex;
      flex-direction: row;
      gap: 30px;
      font-size: 20px;
      font-weight: 500;
      line-height: 130%;
      z-index: 3;
      @media (max-width: 1156px) {
        display: none;
      }
    }
  .signin {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    .button {
      border-radius: 5px;
      background: #184171;
      width: 150px;
      height: 49px;
      color: white;
    }
  }
}